
.slider.knobStyle {
    -fx-skin: "knob.KnobSkin";
}

.slider.knobStyle .knob {
	-fx-background-image: url("knob.png");
    -fx-background-color: black;
    -fx-background-radius: 100;
    -fx-padding: 25;
}
.slider.knobStyle:focused .knob {
    -fx-effect: dropshadow( three-pass-box , blue , 5 , 0.5 , 0 , 0 );
}
.slider.knobStyle .knobDot {
    -fx-background-color: red;
    -fx-background-radius: 100;
    -fx-padding: 0;
    -fx-effect: dropshadow( three-pass-box , black , 5 , 0.5 , 0 , 0 );
}

.root
{
	-fx-font-size: 15;
}